@model Reviews

<h3>@Model.Reviewer Information</h3>

<table class="table">
    <tr>
        <th>ReviewID</th>
        <th>ProductID</th>
        <th>Reviewer</th>
        <th>Rating</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td>@Model.ReviewID</td>
        <td>@Model.ProductID</td>
        <td>@Model.Reviewer</td>
        <td>@Model.Rating</td>
        <td>@Model.Comment</td>
    </tr>

</table>

