@model Sales

<h3>@Model.SalesID Information</h3>

<table class="table">
    <tr>
        <th>SalesID</th>
        <th>ProductID</th>
        <th>Quantity</th>
        <th>PricePerUnit</th>
        <th>Date</th>
        <th>EmployeeID</th>
    </tr>
    <tr>
        <td>@Model.SalesID</td>
        <td>@Model.ProductID</td>
        <td>@Model.Quantity</td>
        <td>@Model.PricePerUnit</td>
        <td>@Model.Date</td>
        <td>@Model.EmployeeID</td>
    </tr>

</table>

